<ion-slides>
  <ion-slide *ngFor="let field of field.fieldGroup; let index = index; let first = first; let last = last;">
    <ion-text>
      <h3>{{ field.templateOptions?.label }}</h3>

      <formly-field [field]="field"></formly-field>

      <ion-row class="ion-padding-top ion-justify-content-between">
        <ion-button (click)="previous()" [disabled]="index === 0 || last" class="btn-icon" color="danger" shape="round">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>

        <ion-button (click)="checkCode()" *ngIf="first" [disabled]="isCodeInvalid()" color="danger" shape="round">
          Verificar
        </ion-button>

        <ion-button (click)="next()" *ngIf="index === 1" [disabled]="!isValid(field)" color="danger" shape="round">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>

        <ion-button (click)="sendResetPassword()" *ngIf="index === 2" [disabled]="form.invalid" color="danger" shape="round">
          Enviar
        </ion-button>

        <ion-button *ngIf="last" color="danger" routerLink="/auth/login" shape="round">
          Fazer Login
        </ion-button>
      </ion-row>
    </ion-text>
  </ion-slide>
</ion-slides>
