<ion-slides>
  <ion-slide *ngFor="let field of field.fieldGroup; let index = index; let last = last;">
    <ion-text>
      <h3>{{ field.templateOptions?.label }}</h3>

      <formly-field [field]="field"></formly-field>

      <ion-row class="ion-padding-top ion-justify-content-between">
        <ion-button (click)="previous()" [disabled]="index === 0" class="btn-icon" color="danger" shape="round">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>

        <ng-container [ngSwitch]="last">
          <ion-button (click)="next()" *ngSwitchCase="false" [disabled]="!isValid(field)" color="danger" shape="round">
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>

          <ion-button *ngSwitchCase="true" [disabled]="form.invalid" color="danger" shape="round" type="submit">
            Enviar
          </ion-button>
        </ng-container>
      </ion-row>
    </ion-text>
  </ion-slide>
</ion-slides>
